/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: black;
    display: flexbox;
}
.website-description {
    padding: 20px;
    text-align: center;
    color:rgb(44, 33, 74);
    font-size: xx-large;
}
.full {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.sidebar {
    margin-right: 30px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.text{
    font-family:Roboto;
    font-size: x-large;
    color:navy;
}
.motivational-quote {
    font-family:Roboto;
    font-size:x-large;
}
li {
    font-size: large;
    font-family:Roboto;
}
.run-emoji, .connect-emoji, .motivational-emoji {
    font-size:x-large;
}
#formelements {
    padding: 20px;
    width: 400px;
    border-radius: 5pt;
    margin-left: 20px;
}
.form-description {
    font-family: Roboto;
    font-size:x-large;
}
.form-control {
    background-color:white;
    width: 350px;
    height: 30px;
    border-radius: 5pt;
}
.save-button {
    background-color: #d7df23;
    border-radius: 50px;
    width: 50pt;
    height: 25pt;
    margin-top: 5pt;
    margin-left: 100pt;
}
.header {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
}
#first-header {
    color: white;
}
#second-header {
    color: #d7df23; 
}
main {
    background-image: linear-gradient(to right, rgb(135, 204, 101) 0%, #d7df23);
}
footer {
    color: #a6ad1e;
    text-align: center;
    padding-bottom: 20px;
    padding-top:20px;
}
