<body class="parent">
  <header>
    <h1 class="header"><span id="first-header">OhMy</span><span id="second-header">Run</span></h1>
  </header>
  <main>
    <p class="website-description">Welcome! Save a location and Run the Map </p>
    <section class ="flex">
      <div class="full" id="map">
      </div>
      <div class="form">
        <form id="formelements" [formGroup]="form" *ngIf="habilitarMensaje">
          <div class="form-group row">
            <label for="mensaje" class="form-description"><b>How to add a Run to the map:</b></label>
              <ol>
                <li>Click on the location of your run.</li>
                <li>Share your experience in the text box below.</li>
                <li>Click the 'Save' button.</li>
              </ol>
            <div class="col-sm-6">
              <textarea type="text" class="form-control" name="mensaje" formControlName="mensaje" required [(ngModel)]="formulario.mensaje"></textarea>
            </div>
          </div>
          <button id="savebutton"class="save-button" role="button" (click)='guardar()' >Save</button>
        </form>
      </div>
    </section>
    <ng-container *ngIf="selectedMarker">
      <app-form-component [marker]="selectedMarker"></app-form-component>
    </ng-container>
  </main>
  <div><app-navbar></app-navbar></div>

  <footer id="footer">
  <div class="copyrights">
    <p>&copy; 2023 Tatiana Obando, Carmen Vega, Melissa Peña</p>
  </div>
  </footer>
</body>

