<head>
  
</head>
<body class="parent">
  <header>
    <h1 class="header"><span id="first-header">OhMy</span><span id="second-header">Run</span></h1>

  </header>
  <main>
    <p class="website-description">Please save in the map a safe and fun location to go for a run. You will share these locations with the runner community!  </p>
    <section class ="flex">
    <div class="full" id="map">
    </div>
    <div class ="sidebar">
      <span class="run-emoji">🏃🏽‍♀️</span><span class="text"><u> Events</u></span>
        <ul>
          <li>Event 1</li>
          <li>Event 2</li>
        </ul>
      <span class="connect-emoji">📱</span><span class="text"><u> Connect with the community</u></span>
        <ul>
          <li>Connect</li>
        </ul>
      <span class="motivational-emoji">🔥</span><span class="text"> Motivational quote</span>
          <p class="motivational-quote">“I don’t run to add days to my life, I run to add life to my days.” – Ronald Rook</p>
      </div>
    </section>

    <form id="formelements" [formGroup]="form" *ngIf="habilitarMensaje">
      <div class="form-group row">
        <label for="mensaje" class="form-description">Leave a description about the place</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="mensaje" formControlName="mensaje" required [(ngModel)]="formulario.mensaje">
        </div>
      </div>

      <button class="save-button" role="button" (click)='guardar()' >Save</button>

    </form>


    <ng-container *ngIf="selectedMarker">
      <app-form-component [marker]="selectedMarker"></app-form-component>
    </ng-container>
  </main>


<footer id="footer">
<div class="copyrights">
  <p>&copy; 2023 Tatiana Obando, Carmen Vega, Melissa Peña</p>
</div>
</footer>

</body>

