<!-- <p>Describe your experience running here<input /> <button>Submit</button>
</p> 
<form>
    <div>
      <label>Message:</label>
      <input type="text">
    </div>
    <button (click)="guardar()">Guardar</button>
  </form>

  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div>
    <label>Message:</label>
    <input type="text">
  </div>
  <button (click)="guardar()">Guardar</button>
</body>
</html>
-->

<form [formGroup]="form">
  <div class="form-group row">
    <label for="mensaje" class="col-form-label col-sm-2">Mensaje</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="mensaje" formControlName="mensaje" required [(ngModel)]="formulario.mensaje">
    </div>
  </div>

  <button class="btn btn-success" role="button" (click)='guardar()' >Guardar</button>

</form>
